*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    display: grid;
    place-items: center;
}

.container{
    border: 8px solid black;
    border-radius: 35px;
    width: 18%;
    height: 70%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 28px;
}





.circle{
    position: absolute;
    border-radius: 50%;
    background-color: #fbe681;
    height: 500px;
    width: 500px;
    top: -30%;
    right: -30%;
    z-index: -100;
}

.id{
    margin: 16px 0 ;
    display: flex;
}

.thing{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}


.id .profile-box{
    font-size: 48px;
}

.box{
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    padding: 12px;
    align-items: center;
    margin-bottom: 16px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
    cursor: pointer;
}
.box i{
    font-size: 28px;
    margin-right: 18px;
    
}

.plus{
    
}